* {
  box-sizing: border-box;
}

.square {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  background: coral;
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes move {
  0% {
    left: 0;
    top: 0;
    background: coral;
  }
  25% {
    top: 0;
    left: 300px;
    background: cornflowerblue;
  }
  50% {
    top: 300px;
    left: 300px;
    background: aqua;
  }
  75% {
    left: 0;
    top: 300px;
    background: yellowgreen;
  }
  100% {
    left: 0;
    top: 0;
    background: coral;
  }
}
