li {
  list-style-type: none;
  font-size: 1.5em;
  line-height: 1.5em;
}

li:first-child {
  text-decoration: red overline;
}
li:last-child {
  text-decoration: green underline;
}

li:nth-child(2) {
  text-decoration: line-through;
}
