.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 16px;
  font-size: 24px;
}

input[type='checkbox'] {
  visibility: hidden;
}

.checkmark {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  height: 25px;
  width: 25px;
  background: #d3d3d3;
}

input[type='checkbox']:checked + .checkmark {
  background: #006400;
}
