* {
  box-sizing: border-box;
}

.articles {
  display: flex;
}

.articles div {
  width: 150px;
  height: 100px;
  background: beige;
  margin: 16px;
  cursor: all-scroll;
}

.cropped {
  overflow: hidden;
}

.both-scrolls {
  overflow: scroll;
}

.vertical-scroll {
  overflow-y: scroll;
}
