* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.content {
  margin: 32px;
}

h1 {
  text-align: center;
  word-spacing: 20px;
}

p {
  line-height: 28px;
}

.bold {
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 24px;
  opacity: 0.8;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

.translate {
  background: grey;
}
