@import 'variables';

.container {
  display: flex;
  flex-wrap: wrap;

  span {
    padding: $padding-unit;
    background: #faebd7;
    border-radius: 4px;
  }

  .navigation,
  .products-list,
  .news {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navigation {
    background: #ff7f50;

    @include size-md($medium-size) {
      width: 50%;
    }

    @include size-md($large-size) {
      width: 33.333%;
    }
  }

  .products-list {
    background: #006400;

    @include size-md($medium-size) {
      width: 50%;
    }

    @include size-md($large-size) {
      width: 33.333%;
    }
  }

  .news {
    background: #0ff;

    @include size-md($large-size) {
      width: 33.333%;
    }
  }
}
