.btn {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #3040c4;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  outline: none;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  color: #ffffff;
  padding: 17px 28px;
}
.btn_white {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  color: #3040c4;
}

.header-page {
  background: url("img/bg.png") right 25px top 185px/796px 448px no-repeat, #f3c6bd;
  padding: 39px 0px 77px 0px;
}

.header {
  display: flex;
}
.header__menu {
  display: flex;
  margin: 7px 11px 0px auto;
}
.header__menu-item {
  font-size: 18px;
  line-height: 25px;
  margin-right: 50px;
  text-decoration: none;
}
.header__menu-item_selected {
  font-weight: 700;
}
.header__arrow {
  display: inline-block;
  width: 8px;
  height: 5px;
  margin-left: 11px;
  background: url("img/Arrow.svg");
}
.header__btn {
  align-self: flex-start;
}

.logo {
  display: flex;
}
.logo__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}
.logo__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}
.logo__text {
  font-size: 18px;
  line-height: 25px;
  opacity: 0.6;
}

.headline {
  margin-top: 77px;
}
.headline__title {
  max-width: 754px;
  margin-bottom: 34px;
  font-weight: 700;
  font-size: 80px;
  line-height: 78px;
  letter-spacing: -0.5px;
}
.headline__text {
  max-width: 456px;
  margin-bottom: 58px;
}
.headline__buttons {
  display: flex;
  margin-bottom: 49px;
}
.headline__btn {
  margin-right: 10px;
}
.headline__btn:last-child {
  margin-right: 0px;
}

.about {
  background: #f4f5f7;
  padding: 77px 0;
}
.about__row {
  display: flex;
}
.about__card {
  font-size: 22px;
  line-height: 32px;
  color: #2b292d;
}
.about__card-title {
  font-weight: 700;
}

.customers {
  padding-top: 30px;
  padding-bottom: 106px;
}
.customers__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.features {
  background: url("img/features/left_screen.png") top 258px left no-repeat, url("img/features/right_screen.png") top 5px right no-repeat;
}
.features__body {
  width: 463px;
  padding-bottom: 103px;
}
.features__sub-title {
  color: #009b4d;
  margin-bottom: 24px;
}
.features__title {
  margin-bottom: 30px;
}
.features__description {
  margin-bottom: 42px;
}
.list__item {
  position: relative;
  padding-bottom: 22px;
  margin-bottom: 21px;
  border-bottom: 1px solid #2b292d;
}
.list__item:hover {
  border-bottom: 3px solid #3142c6;
  color: #3142c6;
  cursor: url(img/pointer.png) 8 4, pointer;
}
.list__item:hover > .list__item-text {
  height: 56px;
  color: #2b292d;
  transition: height 0.3s ease-in-out;
}
.list__item:hover > .list__item-icon {
  fill: #3142c6;
}
.list__item-icon {
  fill: #2b292d;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.list__item-title {
  padding-left: 38px;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 8px;
}
.list__item-text {
  height: 0px;
  overflow: hidden;
  font-size: 18px;
  line-height: 26px;
  transition: height 0.3s ease-in-out;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Work Sans", sans-serif;
  color: #2b292d;
}

.container {
  max-width: 1160px;
  padding: 0px 10px;
  margin: 0px auto;
}

.h2-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  color: #2b292d;
}

.h3-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
}

.description-text {
  font-size: 24px;
  line-height: 34px;
}

a {
  color: #2b292d;
}
a:hover {
  cursor: url(img/pointer.png) 8 4, pointer;
}

/*# sourceMappingURL=styles.css.map */
