.btn {
  background: #3040c4;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  outline: none;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  color: #ffffff;
  padding: 17px 28px;
}
.btn_white {
  background: #ffffff;
  color: #3040c4;
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 18px;
  height: 13px;
}
.burger span {
  display: block;
  width: 100%;
  height: 2.17px;
  background: #2c3241;
  opacity: 0.6;
}

.main-page {
  background: #f3c6bd;
  padding-bottom: calc(56.5% + 69px);
  background: url(img/bg.png) left bottom 36px/100% auto no-repeat, #f3c6bd;
}
.main-page__header {
  margin-bottom: 35px;
}
@media screen and (min-width: 1400px) {
  .main-page {
    padding: 39px 0px 126px 0px;
    background: url(img/bg.png) left calc(50% + 276px) top 185px/796px auto no-repeat, #f3c6bd;
  }
  .main-page__header {
    max-width: 1140px;
    margin: 0px auto 76px auto;
  }
}

.header {
  background: #fff;
  display: flex;
}
.header__logo {
  padding: 8px 0px 8px 15px;
  margin-top: 2px;
}
@media screen and (min-width: 1400px) {
  .header__logo {
    padding: 0;
  }
}
.header__menu {
  display: none;
  margin: 7px 75px 0px auto;
}
@media screen and (min-width: 1400px) {
  .header__menu {
    display: block;
  }
}
.header__burger {
  margin-left: auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1400px) {
  .header__burger {
    display: none;
  }
}
.header__btn {
  display: none;
  align-self: start;
}
@media screen and (min-width: 1400px) {
  .header__btn {
    display: block;
  }
}
@media screen and (min-width: 1400px) {
  .header {
    background: none;
  }
}

.logo {
  display: flex;
  align-items: center;
}
.logo__img {
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 8px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 3px 5px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 13px;
}
.logo__img img {
  width: 26.4px;
  height: 32.36px;
}
.logo__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}
.logo__text {
  display: none;
  font-size: 18px;
  line-height: 25px;
  opacity: 0.6;
}
@media screen and (min-width: 1400px) {
  .logo__img {
    width: 60px;
    height: 60px;
  }
  .logo__img img {
    width: 33px;
    height: 40px;
  }
  .logo__text {
    display: block;
  }
}

.menu {
  align-self: start;
}
.menu__item {
  font-size: 18px;
  line-height: 25px;
  margin-right: 50px;
}
.menu__item_selected {
  font-weight: 700;
}
.menu__item:last-child {
  position: relative;
  margin-right: 0px;
  padding-right: 19px;
}
.menu__item:last-child::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: calc(50% - 2.5px);
  width: 8px;
  height: 5px;
  background: url(img/arrow.svg);
}

.headline__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
  margin: 0px 0px 24px 0px;
}
.headline__description {
  margin: 0px 0px 30px 0px;
}
.headline__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.headline__btn {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .headline__title {
    width: 754px;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    margin-bottom: 34px;
  }
  .headline__description {
    width: 456px;
    margin-bottom: 58px;
  }
  .headline__btn {
    width: auto;
  }
}

.audience {
  background: rgba(0, 161, 198, 0.07);
  padding: 50px 0;
}
@media screen and (min-width: 1400px) {
  .audience {
    padding: 108px 0px 110px 0px;
  }
}
.audience__sub-title {
  text-align: center;
  margin-bottom: 17px;
}
@media screen and (min-width: 1400px) {
  .audience__sub-title {
    margin-bottom: 24px;
  }
}
.audience__title {
  text-align: center;
  margin-bottom: 18px;
}
@media screen and (min-width: 1400px) {
  .audience__title {
    margin-bottom: 30px;
  }
}
.audience__description {
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1400px) {
  .audience__description {
    margin-bottom: 34px;
  }
}
.audience__buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1400px) {
  .audience__buttons {
    margin-bottom: 111px;
  }
}
.audience__btn {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .audience__btn {
    width: auto;
  }
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
@media screen and (min-width: 1400px) {
  .categories {
    justify-content: space-between;
    padding: 0 4px;
  }
}
.categories__item {
  width: 100%;
  background: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px 0px 33px 0px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
.categories__item:hover {
  background: #3141c5;
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
  cursor: url(img/pointer.png) 8 4, pointer;
}
.categories__item:hover .categories__name {
  color: #fff;
}
@media screen and (min-width: 1400px) {
  .categories__item {
    width: 262px;
  }
}
.categories__img {
  margin-bottom: 22px;
}
.categories__name {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}

.about {
  background: #f4f5f7;
  padding: 77px 0;
}
.about__row {
  display: flex;
}
.about__card {
  font-size: 22px;
  line-height: 32px;
  color: #2b292d;
}
.about__card-title {
  font-weight: 700;
}

.customers {
  padding-top: 30px;
  padding-bottom: 106px;
}
.customers__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.features {
  background: url("img/features/left_screen.png") top 258px left no-repeat, url("img/features/right_screen.png") top 5px right no-repeat;
}
.features__body {
  width: 463px;
  padding-bottom: 103px;
}
.features__sub-title {
  color: #009b4d;
  margin-bottom: 24px;
}
.features__title {
  margin-bottom: 30px;
}
.features__description {
  margin-bottom: 42px;
}
.list__item {
  position: relative;
  padding-bottom: 22px;
  margin-bottom: 21px;
  border-bottom: 1px solid #2b292d;
}
.list__item:hover {
  border-bottom: 3px solid #3142c6;
  color: #3142c6;
  cursor: url(img/pointer.png) 8 4, pointer;
}
.list__item:hover > .list__item-text {
  height: 56px;
  color: #2b292d;
  transition: height 0.3s ease-in-out;
}
.list__item:hover > .list__item-icon {
  fill: #3142c6;
}
.list__item-icon {
  fill: #2b292d;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.list__item-title {
  padding-left: 38px;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 8px;
}
.list__item-text {
  height: 0px;
  overflow: hidden;
  font-size: 18px;
  line-height: 26px;
  transition: height 0.3s ease-in-out;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Work Sans", sans-serif;
  color: #2b292d;
}

.container {
  max-width: 1148px;
  margin: 0px auto;
  padding: 0 15px;
}
@media screen and (min-width: 1400px) {
  .container {
    padding: 0;
  }
}

.h2-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.5px;
  color: #2b292d;
}
@media screen and (min-width: 1400px) {
  .h2-title {
    font-size: 56px;
    line-height: 56px;
  }
}

.h3-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
}

.description-text {
  font-size: 24px;
  line-height: 34px;
}

a {
  color: #2b292d;
  text-decoration: none;
}
a:hover {
  cursor: url(img/pointer.png) 8 4, pointer;
}

/*# sourceMappingURL=styles.css.map */
