* {
  box-sizing: border-box;
}

.image-container {
  position: relative;
}

.image {
  display: block;
  margin: 0px auto;
  max-width: 100%;
}

.image-button {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 100px);
  width: 200px;
  height: 50px;
  background: bisque;
  font-size: 12px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  filter: opacity(50%);
}

.image-button:hover {
  filter: opacity(100%);
}
