.header {
  background: #006400;
}

ul {
  list-style-type: none;
  padding: 0;
  color: #fff;

  li {
    text-transform: uppercase;
    cursor: pointer;
    padding: 0 8px;
    line-height: 3em;
  }
}

.menu {
  margin: 0px 0px 0px 3em;
  display: flex;
  align-items: center;

  &__item {
    &_active {
      position: relative;
      color: yellow;
    }

    &:hover {
      background: #9acd32;

      .submenu {
        display: block;
      }
    }
  }
}

.submenu {
  display: none;
  position: absolute;
  background: #ff7f50;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  min-width: 120px;
  z-index: 1;

  &__item {
    &:hover {
      color: black;
    }
  }
}
