body {
  display: flex;
}

.block {
  height: 300px;
  flex: 1 1 auto;
}

.block_red {
  background: red;
}

.block_green {
  background: green;
}

.block_blue {
  background: blue;
}

.block_yellow {
  background: yellow;
}

.block_black {
  background: black;
}
