.mountains {
  margin: 0 auto;
  width: 300px;
  height: 500px;
  background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+13/task1/nature.jpeg);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.title {
  display: inline-block;
  margin-top: 32px;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}
