.mountains {
  margin: 0px auto;
  /*  */
  width: 300px;
  height: 500px;
  background: url(../../sourse/nature.jpeg);
  background-size: cover;
  background-position: center;
  font-size: 32px;
  font-weight: 700;
  padding-top: 32px;
  text-align: center;
  color: #fff;
}
