.about {
  background: #f4f5f7;
  padding: 77px 0;

  &__row {
    display: flex;
  }

  &__card {
    font-size: 22px;
    line-height: 32px;
    color: #2b292d;

    &-title {
      font-weight: 700;
    }
  }
}
