.about {
  background: #f4f5f7;
  padding: 46px 0px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include md($large-md) {
      flex-direction: row;
      gap: 29px;
    }
  }
}

.item {
  font-size: 22px;
  line-height: 32px;

  &__title {
    font-weight: 700;
  }
}
