.audience {
  background: rgba(0, 161, 198, 0.07);
  padding: 50px 0;

  @include md($large-md) {
    padding: 108px 0px 110px 0px;
  }

  &__sub-title {
    text-align: center;
    margin-bottom: 17px;

    @include md($large-md) {
      margin-bottom: 24px;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 18px;

    @include md($large-md) {
      margin-bottom: 30px;
    }
  }

  &__description {
    text-align: center;
    margin-bottom: 30px;

    @include md($large-md) {
      margin-bottom: 34px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 40px;

    @include md($large-md) {
      margin-bottom: 111px;
    }
  }

  &__btn {
    width: 100%;

    @include md($large-md) {
      width: auto;
    }
  }
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  @include md($large-md) {
    justify-content: space-between;
    padding: 0 4px;
  }

  &__item {
    width: 100%;
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22px 0px 33px 0px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);

    &:hover {
      background: #3141c5;
      box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15),
        0px 11px 55px rgba(0, 0, 0, 0.07);
      cursor: url(img/pointer.png) 8 4, pointer;

      & .categories__name {
        color: #fff;
      }
    }

    @include md($large-md) {
      width: 262px;
    }
  }

  &__img {
    margin-bottom: 22px;
  }

  &__name {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
  }
}
