.btn {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 1e-5) 100%
    ),
    #3040c4;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  outline: none;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  color: #ffffff;
  padding: 17px 28px;

  &_white {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 1e-5) 100%
      ),
      #ffffff;
    color: #3040c4;
  }
}
