.customers {
  background: #e3e3e3;

  @include md($large-md) {
    background: #fff;
    padding: 30px 0px 106px 0px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include md($large-md) {
      flex-wrap: nowrap;
      max-width: 1140px;
      margin: 0px auto;
    }
  }

  // .customers__item

  &__item {
    width: calc(100% / 3 - 2px / 3);
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94px;
    padding: 0 15px;
    margin-bottom: 1px;

    @include md($large-md) {
      margin-bottom: 0;
      padding: 0;
      height: auto;
      width: auto;
    }
  }

  // .customers__img

  &__img {
    max-width: 100%;
  }
}
