.header-page {
  background: url('img/bg.png') right 25px top 185px / 796px 448px no-repeat,
    #f3c6bd;
  padding: 39px 0px 77px 0px;
}

.header {
  display: flex;

  &__menu {
    display: flex;
    margin: 7px 11px 0px auto;

    &-item {
      font-size: 18px;
      line-height: 25px;
      color: #2b292d;
      margin-right: 50px;
      text-decoration: none;

      &_selected {
        font-weight: 700;
      }
    }
  }

  &__arrow {
    display: inline-block;
    width: 8px;
    height: 5px;
    margin-left: 11px;
    background: url('img/Arrow.svg');
  }

  &__btn {
    align-self: flex-start;
  }
}

.logo {
  display: flex;

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
  }

  &__title {
    color: #2b292d;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
  }

  &__text {
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
  }
}

.headline {
  margin-top: 77px;

  &__title {
    max-width: 754px;
    margin-bottom: 34px;
    font-weight: 700;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    color: #2b292d;
  }

  &__text {
    max-width: 456px;
    margin-bottom: 58px;
    font-size: 24px;
    line-height: 34px;
    color: #2b292d;
  }

  &__buttons {
    display: flex;
    margin-bottom: 49px;
  }

  &__btn {
    margin-right: 10px;

    &:last-child {
      margin-right: 0px;
    }
  }
}
