@import 'variables';
@import 'components';
@import 'header';
@import 'about';
@import 'customers';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: $main-font;
}

.container {
  max-width: 1160px;
  padding: 0px 10px;
  margin: 0px auto;
}
