@import 'variables';
@import 'components';
@import 'main-page';
@import 'about';
@import 'customers';
@import 'features';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: $main-font;
  color: $main-text-color;
}

.container {
  max-width: 1148px;
  margin: 0px auto;
  padding: 0 15px;

  @include md($large-md) {
    padding: 0;
  }
}

.h2-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  color: $main-text-color;
}

.h3-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
}

.description-text {
  font-size: 24px;
  line-height: 34px;
}

a {
  color: $main-text-color;
  text-decoration: none;

  &:hover {
    cursor: url(img/pointer.png) 8 4, pointer;
  }
}
