* {
  box-sizing: border-box;
}

.table {
  width: 500px;
  margin: 16px;
  border: 1px solid black;
  border-collapse: collapse;
}

td,
tr {
  text-align: right;
  padding: 4px;
  border: 1px solid black;
}
