* {
  box-sizing: border-box;
}

.text {
  position: relative;
  display: inline-block;
  margin: 16px;
  border-bottom: 1px dotted black;
}

.text:hover .tooltip {
  display: block;
}

.tooltip {
  display: none;
  position: absolute;
  left: 0;
  bottom: -40px;
  background: grey;
  color: white;
  border-radius: 4px;
  padding: 8px;
}
