* {
  box-sizing: border-box;
}
html {
  font-family: Verdana, Geneva, sans-serif;
}

h1 {
  font-size: 74px;
  width: 50%;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div {
  background: coral;
  height: 200px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  line-height: 200px;
}
