* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
}

.container {
  margin: auto;
  display: flex;
}

.square {
  width: 100px;
  height: 100px;
  margin: 8px;
  background: #ff7f50;
}

@media screen and (min-width: 600px) {
  .square {
    background: #8a2be2;
  }
}

@media screen and (orientation: portrait) {
  .container {
    flex-direction: column;
  }
}
