* {
  box-sizing: border-box;
}

.image-container {
  margin: 50px 0;
}

.main-img {
  display: block;
  margin: 0px auto;
  border-radius: 20px;
  max-width: 100%;
  height: auto;
}

.gallery {
  display: flex;
}

.card {
  margin: 16px;
  box-shadow: 0px 7px 18px -8px rgba(0, 0, 0, 0.75);
}

.opacity {
  filter: opacity(50%);
}

.blur {
  filter: blur(4px);
}

.invert {
  filter: invert(100%);
}

.figcaption {
  text-align: center;
  text-transform: lowercase;
  line-height: 30px;
}
