* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
  text-transform: lowercase;
  padding: 8px;
  background: #faebd7;
  border-radius: 4px;
}

.navigation,
.products-list,
.news {
  height: 200px;
  display: flex;
}

.navigation {
  background: #ff7f50;
}

.products-list {
  background: #006400;
}

.news {
  background: #0ff;
}

@media screen and (min-width: 600px) {
  body {
    flex-direction: row;
  }

  .news {
    flex: 1 1 100%;
  }

  .navigation,
  .products-list {
    flex: 1 1 50%;
  }
}

@media screen and (min-width: 900px) {
  .products-list,
  .news,
  .navigation {
    flex: 1 1;
  }
}
