html {
  font-size: 18px;
}

/* add padding */
.properties-list {
  padding-top: 1.15px;
}

.properties-list__item {
  color: #f39;
  font-size: 24px;
  line-height: 32px;
  padding: 8px;
  list-style-type: none;
}
