@keyframes moving {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: 70px;
  }
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.spinner {
  margin: auto;
  position: relative;
}

.spinner-text {
  font-family: monospace;
  font-size: 16px;
  text-transform: uppercase;
  animation-name: blinking;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: linear;
}

.rect {
  position: absolute;
  background: #000;
  width: 10px;
  height: 4px;
  border-radius: 2px;
  animation-name: blinking, moving;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-direction: alternate;
}
