* {
  box-sizing: border-box;
}

.table {
  width: 500px;
  margin: 16px;
}

caption {
  margin-bottom: 8px;
}

thead {
  background: aqua;
}

tfoot {
  font-weight: 700;
}

.table,
td,
th {
  border-collapse: collapse;
  border: 1px solid black;
}

td,
th {
  text-align: right;
  padding: 4px;
}

tr {
  height: 40px;
}

tbody > tr:nth-child(odd) {
  background: #f2f2f2;
}

tbody > tr:hover {
  background: #aaa;
  color: white;
}

.table-box {
  overflow-x: auto;
}
