body {
  background: antiquewhite;
}

.block {
  border: 8px solid;
  padding: 16px;
  margin: 16px;
  width: 512px;
  height: 128px;
}

.content-box {
  box-sizing: content-box;
  background: aquamarine;
}

.border-box {
  box-sizing: border-box;
  background: azure;
}
