* {
  box-sizing: border-box;
}

p {
  margin: 0 32px;
  padding: 8px;
  background-color: antiquewhite;
  display: inline-block;
  border-radius: 4px;
}

.square {
  width: 100px;
  height: 100px;
  background: tomato;
  transform: translate(200px, 100px) scale(1.5) rotate(45deg);
}
