* {
  box-sizing: border-box;
}

div {
  margin: 50px;
}

.rectangle {
  background: forestgreen;
  width: 100px;
  height: 50px;
  border-radius: 16px;
}

.oval {
  border-radius: 50%;
  width: 100px;
  height: 50px;
  background: darkmagenta;
}

.circle {
  background: aquamarine;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.triangle {
  width: 100px;
  height: 50px;
  border: 50px solid transparent;
  border-top: 50px solid brown;
}
