.header-text {
  margin: 0;
  padding: 16px;
  text-transform: uppercase;
  text-align: center;
  font-size: 96px;
  font-weight: 700;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: transparent;
}

header {
  background: linear-gradient(45deg, yellow, red);
  -webkit-background-clip: text;
}
