* {
  box-sizing: border-box;
}

body {
  background: bisque;
}
html {
  font-size: 16px;
  font-family: monospace;
}

.page {
  display: flex;
  height: 100vh;
}

.login-form {
  margin: auto;
  background: aqua;
  width: 300px;
  padding: 16px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.form-title {
  text-transform: uppercase;
  text-align: center;
}

.form-control {
  margin-bottom: 8px;
}

.form-label {
  display: inline-block;
  margin-bottom: 4px;
}

.form-input {
  display: inline-block;
  width: 100%;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #080808;
  outline: none;
  padding: 4px;
}

.form-input:invalid {
  border: 3px solid #ff0000;
}

.submit-button {
  height: 32px;
  width: 100%;
  background: #ff7f50;
  margin-top: 16px;
  text-transform: uppercase;
  color: white;
  border-radius: 4px;
}
