* {
  box-sizing: border-box;
}

.dropdown {
  margin: 16px;
  cursor: pointer;
}

.dropdown:hover .menu-list {
  display: block;
}

.menu-button {
  display: inline-block;
  background: darkgreen;
  padding: 16px;
  opacity: 0.8;
  font-size: 16px;
  color: white;
}

.menu-button:hover {
  opacity: 1;
}

.menu-list {
  display: none;
  position: absolute;
  z-index: 1;
  margin: 0;
  padding: 0;
  background: lightcyan;
  min-width: 120px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.menu-item {
  list-style-type: none;
  padding: 16px;
}

.menu-item:hover {
  background: ghostwhite;
}
