* {
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.spinner {
  margin: auto;
}

.spinner-text {
  font-size: 16px;
  font-family: monospace;
  text-transform: uppercase;
  animation: blink 2s infinite linear;
}

.circle {
  width: 50px;
  height: 50px;
  border: 4px solid lightgray;
  border-top-color: black;
  margin: 0px auto;
  margin-bottom: 8px;
  border-radius: 50%;
  animation: spin 2s infinite linear;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
