* {
  box-sizing: border-box;
}

/* test commit */
.container {
  display: flex;
  height: 100vh;
}

.spinner {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner-text {
  font-size: 16px;
  font-family: monospace;
  text-transform: uppercase;
  animation: blink 2s infinite linear;
}

.circle {
  width: 50px;
  height: 50px;
  border: 4px solid lightgray;
  border-top: 4px solid black;
  margin-bottom: 8px;
  border-radius: 50%;
  animation: spin 2s infinite linear;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
