* {
  box-sizing: border-box;
}

.gallery {
  display: flex;
  margin-left: 16px;
}

.image {
  width: 200px;
  height: 200px;
  margin: 16px;
  border: 1px dotted grey;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
