@import 'variables';

.header {
  background: $color-grey;

  .nav-list {
    height: $unit * 7;
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    align-items: center;

    &__item {
      border-radius: $border-radius;
      color: $text-color-secondary;
      padding: $unit;
      margin-left: $unit;
      font-weight: 700;
      background: $color-secondary;

      &_selected {
        background: $color-primary;
      }

      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }
}
