.already-learned ol {
  color: white;
  background: green;
}

.already-learned code {
  background: orange;
}

.to-be-learned ol {
  background: orange;
  color: green;
}

.to-be-learned code {
  background: green;
}

#special1 ~ li h4 code {
  border: 2px solid blue;
}

#special2 ~ * {
  font-size: 24px;
}
