* {
  box-sizing: border-box;
}

html {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
}

.header {
  height: 3em;
  padding: 0 1em;
  background: #eee;
  display: flex;
  align-items: center;
}

.fas {
  font-size: 2em;
}

.main-btn {
  padding: 0;
  border: none;
  outline: none;
  background: none;
}

.main-btn:hover {
  cursor: pointer;
}

.nav-list {
  list-style-type: none;
  padding: 0;
}

.navigation {
  display: none;
  width: 20%;
  padding: 0.5em;
}

.nav-list-item {
  background: #808080;
  height: 2em;
  margin-bottom: 0.5em;
}

.nav-list-link {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (min-width: 600px) {
  .main-btn {
    display: none;
  }

  .navigation {
    display: block;
  }
}
