* {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #555;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.header {
  background: linear-gradient(60deg, red, orange);
  color: white;
  text-align: center;
}

.main {
  flex: 1 1 auto;
  display: flex;
  font-size: 1.25em;
}

.navigation,
.section,
.news {
  padding: 0.5em;
}

.navigation {
  width: 20%;
}

.nav-list {
  padding: 0;
  list-style-type: none;
}

.nav-list-item {
  background: #808080;
  color: white;
  line-height: 2em;
  margin-bottom: 0.5em;
}

.nav-list-link {
  display: block;
  max-width: 100%;
  padding: 0 0.5em;
  color: white;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.section {
  width: 60%;
}

.section__header {
  font-size: 5vw;
  text-align: center;
}

.units-list {
  line-height: 1.75em;
}

.css-units {
  color: #8b0000;
  background: #e5e5e5;
  font-weight: 700;
  font-size: 1.25em;
}

.news {
  width: 20%;
}

.footer {
  background: #e5e5e5;
  padding: 0.5em;
  text-align: center;
}
