* {
  box-sizing: border-box;
}

.container {
  margin: 32px;
}

.rect {
  margin-bottom: 16px;
  background: coral;
  text-align: center;
  opacity: 0.5;
  width: 100px;
  height: 100px;
  line-height: 100px;
}

.rect:hover {
  opacity: 1;
  width: 100%;
  transition-property: opacity, width;
  transition-duration: 2s;
}

.linear:hover {
  transition-timing-function: linear;
}
.ease:hover {
  transition-timing-function: ease;
}
.ease-in:hover {
  transition-timing-function: ease-in;
}
.ease-out:hover {
  transition-timing-function: ease-out;
}
.ease-in-out:hover {
  transition-timing-function: ease-in-out;
}
