* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  margin: 32px;
}

.rect {
  margin-bottom: 16px;
  background: coral;
  text-align: center;
  opacity: 0.5;
  width: 100px;
  height: 100px;
  line-height: 100px;
}

.rect:hover {
  opacity: 1;
  width: 100%;
  transition: width 2s, opacity 0.5s;
}

.rect.linear:hover {
  transition-timing-function: linear;
}
.rect.ease:hover {
  transition-timing-function: ease;
}
.rect.ease-in:hover {
  transition-timing-function: ease-in;
}
.rect.ease-out:hover {
  transition-timing-function: ease-out;
}
.rect.ease-in-out:hover {
  transition-timing-function: ease-in-out;
}
