* {
  box-sizing: border-box;
}

.container {
  margin: 32px;
}

.rect {
  margin-bottom: 16px;
  background: coral;
  text-align: center;
  opacity: 0.5;
  width: 100px;
  height: 100px;
  line-height: 100px;
  transition: all 2s;
}

.rect:hover {
  opacity: 1;
  width: 100%;
}

.linear {
  transition-timing-function: linear;
}
.ease {
  transition-timing-function: ease;
}
.ease-in {
  transition-timing-function: ease-in;
}
.ease-out {
  transition-timing-function: ease-out;
}
.ease-in-out {
  transition-timing-function: ease-in-out;
}
